@{
    if (Session["YetkiId"] == null)
    {
        Response.Redirect("~/Home/Index/");
    }
    if (Convert.ToInt32(Session["YetkiId"]) != 1)
    {
        Response.Redirect("~/Home/Index/");
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/logo/logo.png" />
    <title>Mert DEMİR Admin</title>
    
    <link href="~/Content/Kaynak/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="~/Content/Kaynak/startbootstrap-sb-admin-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
   
    <link href="~/Content/Kaynak/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
   
    <link href="~/Content/Kaynak/startbootstrap-sb-admin-gh-pages/css/sb-admin.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-tagsinput.css" rel="stylesheet" />
</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="/Admin/AdminIndex/">MVC Admin Blog</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
      
        
        <!-- Navbar -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <ul class="navbar-nav ml-auto ml-md-0">


                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-fw"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">@Session["KullaniciAdi"].ToString()</a>

                        <div class="dropdown-divider"></div>
                        <a class="fa fa-fw fa-power-off dropdown-item" href="/Uye/Logout" data-toggle="modal" data-target="#logoutModal">Çıkış</a>
                    </div>
                </li>
            </ul>
        </form>
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/AdminIndex/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Admin Özet</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/AdminKategori/Index/">
                    <i class="fas fa-fw fa-luggage-cart"></i>
                    <span>Kategoriler</span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/AdminMakale/MakaleIndex/">
                    <i class="fas fa-fw fa-list"></i>
                    <span>Makaleler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/AdminYorum/Index/">
                    <i class="fas fa-fw fa-comment"></i>
                    <span>Yorumlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/AdminUye/Index/">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Uyeler</span>
                </a>
            </li>
        </ul>
        <div id="page-wrapper">
            @RenderBody()
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            @*<footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Your Website 2018</span>
                    </div>
                </div>*@

        </div>
      
    </div>
    
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Çıkış İşlemi</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Çıkış Yapmak İstediğine Emin misin?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <a class="btn btn-primary" href="/Home/Index/">Çıkış</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/Kaynak/startbootstrap-sb-admin-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Kaynak/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/Content/Kaynak/startbootstrap-sb-admin-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>
    
    <script src="~/Content/Kaynak/startbootstrap-sb-admin-gh-pages/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Content/Kaynak/startbootstrap-sb-admin-gh-pages/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/Kaynak/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.js"></script>
    
    <script src="~/Content/Kaynak/startbootstrap-sb-admin-gh-pages/js/sb-admin.min.js"></script>
    
    <script src="~/Content/Kaynak/startbootstrap-sb-admin-gh-pages/js/demo/datatables-demo.js"></script>
    <script src="~/Content/Kaynak/startbootstrap-sb-admin-gh-pages/js/demo/chart-area-demo.js"></script>

    <script src="~/Content/js/bootstrap-tagsinput-angular.js"></script>
    <script src="~/Content/js/bootstrap-tagsinput.js"></script>


</body>
</html>

