
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dairesel {
        width: 75px;
        height: 75px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
    }

    .siyah {
        color: darkgray;
    }
</style>
<br />
<h2>İLETİŞİM</h2>
<hr />
<p>
     Sorularınız için&nbsp;<strong>mert.demir96@hotmail.com</strong>&nbsp;adresinden bana ulaşabilirsiniz.
</p>

