@model IEnumerable<MvcBlog.Models.Makale>

@{
    Layout = null;
}
<style>
    .mavi {
        color: dodgerblue;
    }
</style>
<h5 class="card-header mavi">En Çok Okunan Makaleler</h5>
<div class="card-body">
    <ul class="list-unstyled mb-0">
        @foreach (var item in Model)
        {
            <li><a href="/Home/MakaleDetay/@item.MakaleID">@item.Baslık <span class="badge badge-primary badge-pill">(@item.Okunma)</span></a></li>
        }
    </ul>
</div>

