@{
    Layout = null;
}
<style>
    .dairesel {
        width: 120px;
        height: 120px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
    }

    .siyah {
        color: darkgray;
    }
</style>
<p class="lead">
    <span><img class="img-fluid" src="~/AdminFoto/md-logo-animation.gif" width="100" /></span><br />
    <span> <img class="card-img-bottom dairesel" width="75" src="~/AdminFoto/IMG-20170304-WA0043.jpg" /></span>
    <br />
    <span>
        <a href="/Home/Hakkimda/">Mert DEMIR</a>
    </span>
    <br />
<p class="siyah">Software Engineer</p>

<br />
<span>
    <a rel="nofollow" class="social-tooltip" href="https://github.com/mrtdmrmrt/" target="_blank">
        <i class="fab fa-github-square" href="#"></i>
    </a>
    <a rel="nofollow" class="social-tooltip" href="https://www.linkedin.com/in/mert-demir-6784b4168/" target="_blank">
        <i class="fab fa-linkedin"></i>
    </a>
    <a rel="nofollow" class="social-tooltip" href="https://twitter.com/MertdmrMert/" target="_blank">
        <i class="fab fa-twitter-square"></i>
    </a>
</span>
